.my-dialog {
  width: 400px;
  height: 300px;
  border: 0;
  box-shadow: 0 0 1em rgba(0, 0, 0, 0.3), 0 0 0 100vw rgba(235, 5, 5, 0.5);
  padding: 0;
  & > div {
    padding: 0px;
    height: 100%;
  }

  &[open] {
    animation: fade-in 500ms forwards;
  }

  &[closing] {
    animation: fade-out 200ms forwards;
  }

  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
}
