.tab-container {
  background-color: gray;
  display: flex;

  .tab-item-container {
    padding: 10px;
    background-color: antiquewhite;
    cursor: pointer;
    position: relative;
    min-width: 100px;
  }

  .active {
    color: orange;
    background-color: blueviolet;
  }
}
